//! **************************************************************************
// Written by: Map P.20131013 on Sun Jan 20 15:49:28 2019
//! **************************************************************************

SCHEMATIC START;
COMP "USB_SLOE" LOCATE = SITE "T7" LEVEL 1;
COMP "USB_SLRD" LOCATE = SITE "N8" LEVEL 1;
COMP "USB_SLWR" LOCATE = SITE "P8" LEVEL 1;
COMP "USB_FLAGA" LOCATE = SITE "L10" LEVEL 1;
COMP "USB_FLAGB" LOCATE = SITE "P9" LEVEL 1;
COMP "USB_FLAGC" LOCATE = SITE "T9" LEVEL 1;
COMP "USB_FLAGD" LOCATE = SITE "T4" LEVEL 1;
COMP "USB_IFCLK" LOCATE = SITE "M9" LEVEL 1;
COMP "USB_PKEND" LOCATE = SITE "R5" LEVEL 1;
COMP "USB_DATA<10>" LOCATE = SITE "M6" LEVEL 1;
COMP "USB_DATA<11>" LOCATE = SITE "P6" LEVEL 1;
COMP "USB_DATA<12>" LOCATE = SITE "N5" LEVEL 1;
COMP "USB_DATA<13>" LOCATE = SITE "L7" LEVEL 1;
COMP "USB_DATA<14>" LOCATE = SITE "P5" LEVEL 1;
COMP "USB_DATA<15>" LOCATE = SITE "P7" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "H14" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "H13" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "F13" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "F14" LEVEL 1;
COMP "USB_ADDR<0>" LOCATE = SITE "T6" LEVEL 1;
COMP "USB_ADDR<1>" LOCATE = SITE "T5" LEVEL 1;
COMP "USB_DATA<0>" LOCATE = SITE "M12" LEVEL 1;
COMP "USB_DATA<1>" LOCATE = SITE "L8" LEVEL 1;
COMP "USB_DATA<2>" LOCATE = SITE "N12" LEVEL 1;
COMP "USB_DATA<3>" LOCATE = SITE "N9" LEVEL 1;
COMP "USB_DATA<4>" LOCATE = SITE "P12" LEVEL 1;
COMP "USB_DATA<5>" LOCATE = SITE "P11" LEVEL 1;
COMP "USB_DATA<6>" LOCATE = SITE "M11" LEVEL 1;
COMP "USB_DATA<7>" LOCATE = SITE "M10" LEVEL 1;
COMP "USB_DATA<8>" LOCATE = SITE "P4" LEVEL 1;
COMP "USB_DATA<9>" LOCATE = SITE "N6" LEVEL 1;
PIN u_usb/Mram_out_buff_pins<18> = BEL "u_usb/Mram_out_buff" PINNAME
        CLKAWRCLK;
PIN u_usb/Mram_out_buff_pins<19> = BEL "u_usb/Mram_out_buff" PINNAME
        CLKBRDCLK;
PIN u_usb/Mram_buff_pins<18> = BEL "u_usb/Mram_buff" PINNAME CLKAWRCLK;
PIN u_usb/Mram_buff_pins<19> = BEL "u_usb/Mram_buff" PINNAME CLKBRDCLK;
TIMEGRP USB_IFCLK = BEL "u_usb/itr_FSM_FFd2" BEL "u_usb/itr_FSM_FFd1" BEL
        "u_usb/state_FSM_FFd2" BEL "u_usb/state_FSM_FFd3" BEL
        "u_usb/state_FSM_FFd1" BEL "u_usb/usb_slrd" BEL "u_usb/usb_pkend" BEL
        "u_usb/cal_count_8" BEL "u_usb/cal_count_7" BEL "u_usb/cal_count_6"
        BEL "u_usb/cal_count_5" BEL "u_usb/cal_count_4" BEL
        "u_usb/cal_count_3" BEL "u_usb/cal_count_2" BEL "u_usb/cal_count_1"
        BEL "u_usb/cal_count_0" BEL "u_usb/usb_data_15" BEL
        "u_usb/usb_data_14" BEL "u_usb/usb_data_13" BEL "u_usb/usb_data_12"
        BEL "u_usb/usb_data_11" BEL "u_usb/usb_data_10" BEL "u_usb/usb_data_9"
        BEL "u_usb/usb_data_8" BEL "u_usb/usb_data_7" BEL "u_usb/usb_data_6"
        BEL "u_usb/usb_data_5" BEL "u_usb/usb_data_4" BEL "u_usb/usb_data_3"
        BEL "u_usb/usb_data_2" BEL "u_usb/usb_data_1" BEL "u_usb/usb_data_0"
        BEL "u_usb/number_8" BEL "u_usb/number_7" BEL "u_usb/number_6" BEL
        "u_usb/number_5" BEL "u_usb/number_4" BEL "u_usb/number_3" BEL
        "u_usb/number_2" BEL "u_usb/number_1" BEL "u_usb/number_0" BEL
        "u_usb/usb_slwr" BEL "u_usb/usb_addr_1" BEL "u_usb/usb_sloe" BEL
        "u_usb/counter_8" BEL "u_usb/counter_7" BEL "u_usb/counter_6" BEL
        "u_usb/counter_5" BEL "u_usb/counter_4" BEL "u_usb/counter_3" BEL
        "u_usb/counter_2" BEL "u_usb/counter_1" BEL "u_usb/counter_0" BEL
        "u_usb/out_number_8" BEL "u_usb/out_number_7" BEL "u_usb/out_number_6"
        BEL "u_usb/out_number_5" BEL "u_usb/out_number_4" BEL
        "u_usb/out_number_3" BEL "u_usb/out_number_2" BEL "u_usb/out_number_1"
        BEL "u_usb/out_number_0" BEL "u_usb/to_cal_tag" BEL
        "u_usb/calcute_tag" BEL "u_usb/cal_count_1_1" BEL
        "u_usb/cal_count_2_1" BEL "u_usb/cal_count_3_1" BEL
        "u_usb/cal_count_0_1" BEL "u_usb/cal_count_1_2" BEL
        "u_usb/cal_count_2_2" BEL "u_usb/cal_count_3_2" BEL
        "u_usb/cal_count_0_2" BEL "u_usb/cal_count_1_3" BEL
        "u_usb/cal_count_2_3" BEL "u_usb/cal_count_6_1" BEL
        "u_usb/cal_count_6_2" BEL "u_usb/cal_count_8_1" BEL
        "u_usb/cal_count_8_2" BEL "u_usb/cal_count_8_3" BEL
        "u_usb/cal_count_7_1" BEL "u_usb/cal_count_7_2" BEL
        "u_usb/cal_count_7_3" BEL "u_usb/cal_count_7_4" BEL
        "u_usb/cal_count_4_1" BEL "u_usb/cal_count_5_1" BEL
        "u_usb/cal_count_3_3" BEL "u_usb/cal_count_2_4" BEL
        "u_usb/cal_count_6_3" BEL "u_usb/cal_count_6_4" BEL
        "u_usb/cal_count_6_5" BEL "u_usb/cal_count_6_6" BEL
        "u_usb/cal_count_8_4" BEL "u_usb/cal_count_8_5" BEL
        "u_usb/cal_count_8_6" BEL "u_usb/cal_count_8_7" BEL
        "u_usb/cal_count_4_2" BEL "u_usb/cal_count_0_3" BEL
        "u_usb/cal_count_0_4" BEL "u_usb/cal_count_0_5" BEL
        "u_usb/cal_count_1_4" BEL "u_usb/cal_count_1_5" BEL
        "u_usb/cal_count_7_5" BEL "u_usb/cal_count_7_6" BEL
        "u_usb/cal_count_7_7" BEL "u_usb/cal_count_7_8" BEL
        "u_usb/cal_count_3_4" BEL "u_usb/cal_count_4_3" BEL
        "u_usb/cal_count_5_2" BEL "u_usb/cal_count_4_4" BEL
        "USB_IFCLK_BUFGP/BUFG" PIN "u_usb/Mram_out_buff_pins<18>" PIN
        "u_usb/Mram_out_buff_pins<19>" PIN "u_usb/Mram_buff_pins<18>" PIN
        "u_usb/Mram_buff_pins<19>" BEL "u_usb/Mram_buff8293/SP" BEL
        "u_usb/Mram_buff8293/DP" BEL "u_usb/Mram_buff8292/SP" BEL
        "u_usb/Mram_buff8292/DP" BEL "u_usb/Mram_buff8291/SP" BEL
        "u_usb/Mram_buff8291/DP" BEL "u_usb/Mram_buff8273/SP" BEL
        "u_usb/Mram_buff8273/DP" BEL "u_usb/Mram_buff8272/SP" BEL
        "u_usb/Mram_buff8272/DP" BEL "u_usb/Mram_buff8271/SP" BEL
        "u_usb/Mram_buff8271/DP" BEL "u_usb/Mram_buff8262/SP" BEL
        "u_usb/Mram_buff8262/DP" BEL "u_usb/Mram_buff8261/SP" BEL
        "u_usb/Mram_buff8261/DP" BEL "u_usb/Mram_buff8263/SP" BEL
        "u_usb/Mram_buff8263/DP" BEL "u_usb/Mram_buff8283/SP" BEL
        "u_usb/Mram_buff8283/DP" BEL "u_usb/Mram_buff8282/SP" BEL
        "u_usb/Mram_buff8282/DP" BEL "u_usb/Mram_buff8253/SP" BEL
        "u_usb/Mram_buff8253/DP" BEL "u_usb/Mram_buff8252/SP" BEL
        "u_usb/Mram_buff8252/DP" BEL "u_usb/Mram_buff8281/SP" BEL
        "u_usb/Mram_buff8281/DP" BEL "u_usb/Mram_buff8251/SP" BEL
        "u_usb/Mram_buff8251/DP" BEL "u_usb/Mram_buff7293/SP" BEL
        "u_usb/Mram_buff7293/DP" BEL "u_usb/Mram_buff7291/SP" BEL
        "u_usb/Mram_buff7291/DP" BEL "u_usb/Mram_buff7273/SP" BEL
        "u_usb/Mram_buff7273/DP" BEL "u_usb/Mram_buff7292/SP" BEL
        "u_usb/Mram_buff7292/DP" BEL "u_usb/Mram_buff7272/SP" BEL
        "u_usb/Mram_buff7272/DP" BEL "u_usb/Mram_buff7271/SP" BEL
        "u_usb/Mram_buff7271/DP" BEL "u_usb/Mram_buff7262/SP" BEL
        "u_usb/Mram_buff7262/DP" BEL "u_usb/Mram_buff7261/SP" BEL
        "u_usb/Mram_buff7261/DP" BEL "u_usb/Mram_buff7263/SP" BEL
        "u_usb/Mram_buff7263/DP" BEL "u_usb/Mram_buff7283/SP" BEL
        "u_usb/Mram_buff7283/DP" BEL "u_usb/Mram_buff7282/SP" BEL
        "u_usb/Mram_buff7282/DP" BEL "u_usb/Mram_buff7253/SP" BEL
        "u_usb/Mram_buff7253/DP" BEL "u_usb/Mram_buff7252/SP" BEL
        "u_usb/Mram_buff7252/DP" BEL "u_usb/Mram_buff7281/SP" BEL
        "u_usb/Mram_buff7281/DP" BEL "u_usb/Mram_buff7251/SP" BEL
        "u_usb/Mram_buff7251/DP" BEL "u_usb/Mram_buff6293/SP" BEL
        "u_usb/Mram_buff6293/DP" BEL "u_usb/Mram_buff6291/SP" BEL
        "u_usb/Mram_buff6291/DP" BEL "u_usb/Mram_buff6273/SP" BEL
        "u_usb/Mram_buff6273/DP" BEL "u_usb/Mram_buff6292/SP" BEL
        "u_usb/Mram_buff6292/DP" BEL "u_usb/Mram_buff6272/SP" BEL
        "u_usb/Mram_buff6272/DP" BEL "u_usb/Mram_buff6271/SP" BEL
        "u_usb/Mram_buff6271/DP" BEL "u_usb/Mram_buff6262/SP" BEL
        "u_usb/Mram_buff6262/DP" BEL "u_usb/Mram_buff6261/SP" BEL
        "u_usb/Mram_buff6261/DP" BEL "u_usb/Mram_buff6263/SP" BEL
        "u_usb/Mram_buff6263/DP" BEL "u_usb/Mram_buff6283/SP" BEL
        "u_usb/Mram_buff6283/DP" BEL "u_usb/Mram_buff6282/SP" BEL
        "u_usb/Mram_buff6282/DP" BEL "u_usb/Mram_buff6281/SP" BEL
        "u_usb/Mram_buff6281/DP" BEL "u_usb/Mram_buff6253/SP" BEL
        "u_usb/Mram_buff6253/DP" BEL "u_usb/Mram_buff6252/SP" BEL
        "u_usb/Mram_buff6252/DP" BEL "u_usb/Mram_buff6251/SP" BEL
        "u_usb/Mram_buff6251/DP" BEL "u_usb/Mram_buff5292/SP" BEL
        "u_usb/Mram_buff5292/DP" BEL "u_usb/Mram_buff5291/SP" BEL
        "u_usb/Mram_buff5291/DP" BEL "u_usb/Mram_buff5293/SP" BEL
        "u_usb/Mram_buff5293/DP" BEL "u_usb/Mram_buff5283/SP" BEL
        "u_usb/Mram_buff5283/DP" BEL "u_usb/Mram_buff5282/SP" BEL
        "u_usb/Mram_buff5282/DP" BEL "u_usb/Mram_buff5263/SP" BEL
        "u_usb/Mram_buff5263/DP" BEL "u_usb/Mram_buff5262/SP" BEL
        "u_usb/Mram_buff5262/DP" BEL "u_usb/Mram_buff5281/SP" BEL
        "u_usb/Mram_buff5281/DP" BEL "u_usb/Mram_buff5261/SP" BEL
        "u_usb/Mram_buff5261/DP" BEL "u_usb/Mram_buff5253/SP" BEL
        "u_usb/Mram_buff5253/DP" BEL "u_usb/Mram_buff5251/SP" BEL
        "u_usb/Mram_buff5251/DP" BEL "u_usb/Mram_buff5273/SP" BEL
        "u_usb/Mram_buff5273/DP" BEL "u_usb/Mram_buff5252/SP" BEL
        "u_usb/Mram_buff5252/DP" BEL "u_usb/Mram_buff5272/SP" BEL
        "u_usb/Mram_buff5272/DP" BEL "u_usb/Mram_buff5271/SP" BEL
        "u_usb/Mram_buff5271/DP" BEL "u_usb/Mram_buff4292/SP" BEL
        "u_usb/Mram_buff4292/DP" BEL "u_usb/Mram_buff4291/SP" BEL
        "u_usb/Mram_buff4291/DP" BEL "u_usb/Mram_buff4293/SP" BEL
        "u_usb/Mram_buff4293/DP" BEL "u_usb/Mram_buff4283/SP" BEL
        "u_usb/Mram_buff4283/DP" BEL "u_usb/Mram_buff4282/SP" BEL
        "u_usb/Mram_buff4282/DP" BEL "u_usb/Mram_buff4273/SP" BEL
        "u_usb/Mram_buff4273/DP" BEL "u_usb/Mram_buff4272/SP" BEL
        "u_usb/Mram_buff4272/DP" BEL "u_usb/Mram_buff4281/SP" BEL
        "u_usb/Mram_buff4281/DP" BEL "u_usb/Mram_buff4271/SP" BEL
        "u_usb/Mram_buff4271/DP" BEL "u_usb/Mram_buff4253/SP" BEL
        "u_usb/Mram_buff4253/DP" BEL "u_usb/Mram_buff4251/SP" BEL
        "u_usb/Mram_buff4251/DP" BEL "u_usb/Mram_buff4263/SP" BEL
        "u_usb/Mram_buff4263/DP" BEL "u_usb/Mram_buff4252/SP" BEL
        "u_usb/Mram_buff4252/DP" BEL "u_usb/Mram_buff4262/SP" BEL
        "u_usb/Mram_buff4262/DP" BEL "u_usb/Mram_buff4261/SP" BEL
        "u_usb/Mram_buff4261/DP" BEL "u_usb/Mram_buff3292/SP" BEL
        "u_usb/Mram_buff3292/DP" BEL "u_usb/Mram_buff3291/SP" BEL
        "u_usb/Mram_buff3291/DP" BEL "u_usb/Mram_buff3293/SP" BEL
        "u_usb/Mram_buff3293/DP" BEL "u_usb/Mram_buff3283/SP" BEL
        "u_usb/Mram_buff3283/DP" BEL "u_usb/Mram_buff3282/SP" BEL
        "u_usb/Mram_buff3282/DP" BEL "u_usb/Mram_buff3281/SP" BEL
        "u_usb/Mram_buff3281/DP" BEL "u_usb/Mram_buff3273/SP" BEL
        "u_usb/Mram_buff3273/DP" BEL "u_usb/Mram_buff3272/SP" BEL
        "u_usb/Mram_buff3272/DP" BEL "u_usb/Mram_buff3271/SP" BEL
        "u_usb/Mram_buff3271/DP" BEL "u_usb/Mram_buff3252/SP" BEL
        "u_usb/Mram_buff3252/DP" BEL "u_usb/Mram_buff3251/SP" BEL
        "u_usb/Mram_buff3251/DP" BEL "u_usb/Mram_buff3253/SP" BEL
        "u_usb/Mram_buff3253/DP" BEL "u_usb/Mram_buff3263/SP" BEL
        "u_usb/Mram_buff3263/DP" BEL "u_usb/Mram_buff3262/SP" BEL
        "u_usb/Mram_buff3262/DP" BEL "u_usb/Mram_buff2293/SP" BEL
        "u_usb/Mram_buff2293/DP" BEL "u_usb/Mram_buff2292/SP" BEL
        "u_usb/Mram_buff2292/DP" BEL "u_usb/Mram_buff3261/SP" BEL
        "u_usb/Mram_buff3261/DP" BEL "u_usb/Mram_buff2291/SP" BEL
        "u_usb/Mram_buff2291/DP" BEL "u_usb/Mram_buff2283/SP" BEL
        "u_usb/Mram_buff2283/DP" BEL "u_usb/Mram_buff2281/SP" BEL
        "u_usb/Mram_buff2281/DP" BEL "u_usb/Mram_buff2273/SP" BEL
        "u_usb/Mram_buff2273/DP" BEL "u_usb/Mram_buff2282/SP" BEL
        "u_usb/Mram_buff2282/DP" BEL "u_usb/Mram_buff2272/SP" BEL
        "u_usb/Mram_buff2272/DP" BEL "u_usb/Mram_buff2271/SP" BEL
        "u_usb/Mram_buff2271/DP" BEL "u_usb/Mram_buff2262/SP" BEL
        "u_usb/Mram_buff2262/DP" BEL "u_usb/Mram_buff2261/SP" BEL
        "u_usb/Mram_buff2261/DP" BEL "u_usb/Mram_buff2263/SP" BEL
        "u_usb/Mram_buff2263/DP" BEL "u_usb/Mram_buff2253/SP" BEL
        "u_usb/Mram_buff2253/DP" BEL "u_usb/Mram_buff2252/SP" BEL
        "u_usb/Mram_buff2252/DP" BEL "u_usb/Mram_buff1293/SP" BEL
        "u_usb/Mram_buff1293/DP" BEL "u_usb/Mram_buff1292/SP" BEL
        "u_usb/Mram_buff1292/DP" BEL "u_usb/Mram_buff2251/SP" BEL
        "u_usb/Mram_buff2251/DP" BEL "u_usb/Mram_buff1291/SP" BEL
        "u_usb/Mram_buff1291/DP" BEL "u_usb/Mram_buff1283/SP" BEL
        "u_usb/Mram_buff1283/DP" BEL "u_usb/Mram_buff1281/SP" BEL
        "u_usb/Mram_buff1281/DP" BEL "u_usb/Mram_buff1263/SP" BEL
        "u_usb/Mram_buff1263/DP" BEL "u_usb/Mram_buff1282/SP" BEL
        "u_usb/Mram_buff1282/DP" BEL "u_usb/Mram_buff1262/SP" BEL
        "u_usb/Mram_buff1262/DP" BEL "u_usb/Mram_buff1261/SP" BEL
        "u_usb/Mram_buff1261/DP" BEL "u_usb/Mram_buff1252/SP" BEL
        "u_usb/Mram_buff1252/DP" BEL "u_usb/Mram_buff1251/SP" BEL
        "u_usb/Mram_buff1251/DP" BEL "u_usb/Mram_buff1253/SP" BEL
        "u_usb/Mram_buff1253/DP" BEL "u_usb/Mram_buff1273/SP" BEL
        "u_usb/Mram_buff1273/DP" BEL "u_usb/Mram_buff1272/SP" BEL
        "u_usb/Mram_buff1272/DP" BEL "u_usb/Mram_buff1271/SP" BEL
        "u_usb/Mram_buff1271/DP" BEL "u_usb/Mram_buff830/SP" BEL
        "u_usb/Mram_buff830/DP" BEL "u_usb/Mram_buff824/SP" BEL
        "u_usb/Mram_buff824/DP" BEL "u_usb/Mram_buff823/SP" BEL
        "u_usb/Mram_buff823/DP" BEL "u_usb/Mram_buff822/SP" BEL
        "u_usb/Mram_buff822/DP" BEL "u_usb/Mram_buff821/SP" BEL
        "u_usb/Mram_buff821/DP" BEL "u_usb/Mram_buff730/SP" BEL
        "u_usb/Mram_buff730/DP" BEL "u_usb/Mram_buff724/SP" BEL
        "u_usb/Mram_buff724/DP" BEL "u_usb/Mram_buff723/SP" BEL
        "u_usb/Mram_buff723/DP" BEL "u_usb/Mram_buff722/SP" BEL
        "u_usb/Mram_buff722/DP" BEL "u_usb/Mram_buff721/SP" BEL
        "u_usb/Mram_buff721/DP" BEL "u_usb/Mram_buff630/SP" BEL
        "u_usb/Mram_buff630/DP" BEL "u_usb/Mram_buff624/SP" BEL
        "u_usb/Mram_buff624/DP" BEL "u_usb/Mram_buff623/SP" BEL
        "u_usb/Mram_buff623/DP" BEL "u_usb/Mram_buff622/SP" BEL
        "u_usb/Mram_buff622/DP" BEL "u_usb/Mram_buff621/SP" BEL
        "u_usb/Mram_buff621/DP" BEL "u_usb/Mram_buff530/SP" BEL
        "u_usb/Mram_buff530/DP" BEL "u_usb/Mram_buff523/SP" BEL
        "u_usb/Mram_buff523/DP" BEL "u_usb/Mram_buff522/SP" BEL
        "u_usb/Mram_buff522/DP" BEL "u_usb/Mram_buff524/SP" BEL
        "u_usb/Mram_buff524/DP" BEL "u_usb/Mram_buff521/SP" BEL
        "u_usb/Mram_buff521/DP" BEL "u_usb/Mram_buff430/SP" BEL
        "u_usb/Mram_buff430/DP" BEL "u_usb/Mram_buff424/SP" BEL
        "u_usb/Mram_buff424/DP" BEL "u_usb/Mram_buff423/SP" BEL
        "u_usb/Mram_buff423/DP" BEL "u_usb/Mram_buff422/SP" BEL
        "u_usb/Mram_buff422/DP" BEL "u_usb/Mram_buff421/SP" BEL
        "u_usb/Mram_buff421/DP" BEL "u_usb/Mram_buff330/SP" BEL
        "u_usb/Mram_buff330/DP" BEL "u_usb/Mram_buff324/SP" BEL
        "u_usb/Mram_buff324/DP" BEL "u_usb/Mram_buff323/SP" BEL
        "u_usb/Mram_buff323/DP" BEL "u_usb/Mram_buff322/SP" BEL
        "u_usb/Mram_buff322/DP" BEL "u_usb/Mram_buff321/SP" BEL
        "u_usb/Mram_buff321/DP" BEL "u_usb/Mram_buff230/SP" BEL
        "u_usb/Mram_buff230/DP" BEL "u_usb/Mram_buff224/SP" BEL
        "u_usb/Mram_buff224/DP" BEL "u_usb/Mram_buff223/SP" BEL
        "u_usb/Mram_buff223/DP" BEL "u_usb/Mram_buff222/SP" BEL
        "u_usb/Mram_buff222/DP" BEL "u_usb/Mram_buff221/SP" BEL
        "u_usb/Mram_buff221/DP" BEL "u_usb/Mram_buff130/SP" BEL
        "u_usb/Mram_buff130/DP" BEL "u_usb/Mram_buff123/SP" BEL
        "u_usb/Mram_buff123/DP" BEL "u_usb/Mram_buff122/SP" BEL
        "u_usb/Mram_buff122/DP" BEL "u_usb/Mram_buff124/SP" BEL
        "u_usb/Mram_buff124/DP" BEL "u_usb/Mram_buff121/SP" BEL
        "u_usb/Mram_buff121/DP" BEL "u_usb/Mram_buff11_RAMA" BEL
        "u_usb/Mram_buff11_RAMB" BEL "u_usb/Mram_buff11_RAMC" BEL
        "u_usb/Mram_buff11_RAMD" BEL "u_usb/Mram_buff110_RAMA" BEL
        "u_usb/Mram_buff110_RAMB" BEL "u_usb/Mram_buff110_RAMC" BEL
        "u_usb/Mram_buff110_RAMD" BEL "u_usb/Mram_buff111_RAMA" BEL
        "u_usb/Mram_buff111_RAMB" BEL "u_usb/Mram_buff111_RAMC" BEL
        "u_usb/Mram_buff111_RAMD" BEL "u_usb/Mram_buff112_RAMA" BEL
        "u_usb/Mram_buff112_RAMB" BEL "u_usb/Mram_buff112_RAMC" BEL
        "u_usb/Mram_buff112_RAMD" BEL "u_usb/Mram_buff113_RAMA" BEL
        "u_usb/Mram_buff113_RAMB" BEL "u_usb/Mram_buff113_RAMC" BEL
        "u_usb/Mram_buff113_RAMD" BEL "u_usb/Mram_buff114_RAMA" BEL
        "u_usb/Mram_buff114_RAMB" BEL "u_usb/Mram_buff114_RAMC" BEL
        "u_usb/Mram_buff114_RAMD" BEL "u_usb/Mram_buff115_RAMA" BEL
        "u_usb/Mram_buff115_RAMB" BEL "u_usb/Mram_buff115_RAMC" BEL
        "u_usb/Mram_buff115_RAMD" BEL "u_usb/Mram_buff116_RAMA" BEL
        "u_usb/Mram_buff116_RAMB" BEL "u_usb/Mram_buff116_RAMC" BEL
        "u_usb/Mram_buff116_RAMD" BEL "u_usb/Mram_buff117_RAMA" BEL
        "u_usb/Mram_buff117_RAMB" BEL "u_usb/Mram_buff117_RAMC" BEL
        "u_usb/Mram_buff117_RAMD" BEL "u_usb/Mram_buff118_RAMA" BEL
        "u_usb/Mram_buff118_RAMB" BEL "u_usb/Mram_buff118_RAMC" BEL
        "u_usb/Mram_buff118_RAMD" BEL "u_usb/Mram_buff119_RAMA" BEL
        "u_usb/Mram_buff119_RAMB" BEL "u_usb/Mram_buff119_RAMC" BEL
        "u_usb/Mram_buff119_RAMD" BEL "u_usb/Mram_buff12_RAMA" BEL
        "u_usb/Mram_buff12_RAMB" BEL "u_usb/Mram_buff12_RAMC" BEL
        "u_usb/Mram_buff12_RAMD" BEL "u_usb/Mram_buff120_RAMA" BEL
        "u_usb/Mram_buff120_RAMB" BEL "u_usb/Mram_buff120_RAMC" BEL
        "u_usb/Mram_buff120_RAMD" BEL "u_usb/Mram_buff13_RAMA" BEL
        "u_usb/Mram_buff13_RAMB" BEL "u_usb/Mram_buff13_RAMC" BEL
        "u_usb/Mram_buff13_RAMD" BEL "u_usb/Mram_buff14_RAMA" BEL
        "u_usb/Mram_buff14_RAMB" BEL "u_usb/Mram_buff14_RAMC" BEL
        "u_usb/Mram_buff14_RAMD" BEL "u_usb/Mram_buff15_RAMA" BEL
        "u_usb/Mram_buff15_RAMB" BEL "u_usb/Mram_buff15_RAMC" BEL
        "u_usb/Mram_buff15_RAMD" BEL "u_usb/Mram_buff16_RAMA" BEL
        "u_usb/Mram_buff16_RAMB" BEL "u_usb/Mram_buff16_RAMC" BEL
        "u_usb/Mram_buff16_RAMD" BEL "u_usb/Mram_buff17_RAMA" BEL
        "u_usb/Mram_buff17_RAMB" BEL "u_usb/Mram_buff17_RAMC" BEL
        "u_usb/Mram_buff17_RAMD" BEL "u_usb/Mram_buff18_RAMA" BEL
        "u_usb/Mram_buff18_RAMB" BEL "u_usb/Mram_buff18_RAMC" BEL
        "u_usb/Mram_buff18_RAMD" BEL "u_usb/Mram_buff19_RAMA" BEL
        "u_usb/Mram_buff19_RAMB" BEL "u_usb/Mram_buff19_RAMC" BEL
        "u_usb/Mram_buff19_RAMD" BEL "u_usb/Mram_buff21_RAMA" BEL
        "u_usb/Mram_buff21_RAMB" BEL "u_usb/Mram_buff21_RAMC" BEL
        "u_usb/Mram_buff21_RAMD" BEL "u_usb/Mram_buff210_RAMA" BEL
        "u_usb/Mram_buff210_RAMB" BEL "u_usb/Mram_buff210_RAMC" BEL
        "u_usb/Mram_buff210_RAMD" BEL "u_usb/Mram_buff211_RAMA" BEL
        "u_usb/Mram_buff211_RAMB" BEL "u_usb/Mram_buff211_RAMC" BEL
        "u_usb/Mram_buff211_RAMD" BEL "u_usb/Mram_buff212_RAMA" BEL
        "u_usb/Mram_buff212_RAMB" BEL "u_usb/Mram_buff212_RAMC" BEL
        "u_usb/Mram_buff212_RAMD" BEL "u_usb/Mram_buff213_RAMA" BEL
        "u_usb/Mram_buff213_RAMB" BEL "u_usb/Mram_buff213_RAMC" BEL
        "u_usb/Mram_buff213_RAMD" BEL "u_usb/Mram_buff214_RAMA" BEL
        "u_usb/Mram_buff214_RAMB" BEL "u_usb/Mram_buff214_RAMC" BEL
        "u_usb/Mram_buff214_RAMD" BEL "u_usb/Mram_buff215_RAMA" BEL
        "u_usb/Mram_buff215_RAMB" BEL "u_usb/Mram_buff215_RAMC" BEL
        "u_usb/Mram_buff215_RAMD" BEL "u_usb/Mram_buff216_RAMA" BEL
        "u_usb/Mram_buff216_RAMB" BEL "u_usb/Mram_buff216_RAMC" BEL
        "u_usb/Mram_buff216_RAMD" BEL "u_usb/Mram_buff217_RAMA" BEL
        "u_usb/Mram_buff217_RAMB" BEL "u_usb/Mram_buff217_RAMC" BEL
        "u_usb/Mram_buff217_RAMD" BEL "u_usb/Mram_buff218_RAMA" BEL
        "u_usb/Mram_buff218_RAMB" BEL "u_usb/Mram_buff218_RAMC" BEL
        "u_usb/Mram_buff218_RAMD" BEL "u_usb/Mram_buff219_RAMA" BEL
        "u_usb/Mram_buff219_RAMB" BEL "u_usb/Mram_buff219_RAMC" BEL
        "u_usb/Mram_buff219_RAMD" BEL "u_usb/Mram_buff22_RAMA" BEL
        "u_usb/Mram_buff22_RAMB" BEL "u_usb/Mram_buff22_RAMC" BEL
        "u_usb/Mram_buff22_RAMD" BEL "u_usb/Mram_buff220_RAMA" BEL
        "u_usb/Mram_buff220_RAMB" BEL "u_usb/Mram_buff220_RAMC" BEL
        "u_usb/Mram_buff220_RAMD" BEL "u_usb/Mram_buff23_RAMA" BEL
        "u_usb/Mram_buff23_RAMB" BEL "u_usb/Mram_buff23_RAMC" BEL
        "u_usb/Mram_buff23_RAMD" BEL "u_usb/Mram_buff24_RAMA" BEL
        "u_usb/Mram_buff24_RAMB" BEL "u_usb/Mram_buff24_RAMC" BEL
        "u_usb/Mram_buff24_RAMD" BEL "u_usb/Mram_buff25_RAMA" BEL
        "u_usb/Mram_buff25_RAMB" BEL "u_usb/Mram_buff25_RAMC" BEL
        "u_usb/Mram_buff25_RAMD" BEL "u_usb/Mram_buff26_RAMA" BEL
        "u_usb/Mram_buff26_RAMB" BEL "u_usb/Mram_buff26_RAMC" BEL
        "u_usb/Mram_buff26_RAMD" BEL "u_usb/Mram_buff27_RAMA" BEL
        "u_usb/Mram_buff27_RAMB" BEL "u_usb/Mram_buff27_RAMC" BEL
        "u_usb/Mram_buff27_RAMD" BEL "u_usb/Mram_buff28_RAMA" BEL
        "u_usb/Mram_buff28_RAMB" BEL "u_usb/Mram_buff28_RAMC" BEL
        "u_usb/Mram_buff28_RAMD" BEL "u_usb/Mram_buff29_RAMA" BEL
        "u_usb/Mram_buff29_RAMB" BEL "u_usb/Mram_buff29_RAMC" BEL
        "u_usb/Mram_buff29_RAMD" BEL "u_usb/Mram_buff31_RAMA" BEL
        "u_usb/Mram_buff31_RAMB" BEL "u_usb/Mram_buff31_RAMC" BEL
        "u_usb/Mram_buff31_RAMD" BEL "u_usb/Mram_buff310_RAMA" BEL
        "u_usb/Mram_buff310_RAMB" BEL "u_usb/Mram_buff310_RAMC" BEL
        "u_usb/Mram_buff310_RAMD" BEL "u_usb/Mram_buff311_RAMA" BEL
        "u_usb/Mram_buff311_RAMB" BEL "u_usb/Mram_buff311_RAMC" BEL
        "u_usb/Mram_buff311_RAMD" BEL "u_usb/Mram_buff312_RAMA" BEL
        "u_usb/Mram_buff312_RAMB" BEL "u_usb/Mram_buff312_RAMC" BEL
        "u_usb/Mram_buff312_RAMD" BEL "u_usb/Mram_buff313_RAMA" BEL
        "u_usb/Mram_buff313_RAMB" BEL "u_usb/Mram_buff313_RAMC" BEL
        "u_usb/Mram_buff313_RAMD" BEL "u_usb/Mram_buff314_RAMA" BEL
        "u_usb/Mram_buff314_RAMB" BEL "u_usb/Mram_buff314_RAMC" BEL
        "u_usb/Mram_buff314_RAMD" BEL "u_usb/Mram_buff315_RAMA" BEL
        "u_usb/Mram_buff315_RAMB" BEL "u_usb/Mram_buff315_RAMC" BEL
        "u_usb/Mram_buff315_RAMD" BEL "u_usb/Mram_buff316_RAMA" BEL
        "u_usb/Mram_buff316_RAMB" BEL "u_usb/Mram_buff316_RAMC" BEL
        "u_usb/Mram_buff316_RAMD" BEL "u_usb/Mram_buff317_RAMA" BEL
        "u_usb/Mram_buff317_RAMB" BEL "u_usb/Mram_buff317_RAMC" BEL
        "u_usb/Mram_buff317_RAMD" BEL "u_usb/Mram_buff318_RAMA" BEL
        "u_usb/Mram_buff318_RAMB" BEL "u_usb/Mram_buff318_RAMC" BEL
        "u_usb/Mram_buff318_RAMD" BEL "u_usb/Mram_buff319_RAMA" BEL
        "u_usb/Mram_buff319_RAMB" BEL "u_usb/Mram_buff319_RAMC" BEL
        "u_usb/Mram_buff319_RAMD" BEL "u_usb/Mram_buff32_RAMA" BEL
        "u_usb/Mram_buff32_RAMB" BEL "u_usb/Mram_buff32_RAMC" BEL
        "u_usb/Mram_buff32_RAMD" BEL "u_usb/Mram_buff320_RAMA" BEL
        "u_usb/Mram_buff320_RAMB" BEL "u_usb/Mram_buff320_RAMC" BEL
        "u_usb/Mram_buff320_RAMD" BEL "u_usb/Mram_buff33_RAMA" BEL
        "u_usb/Mram_buff33_RAMB" BEL "u_usb/Mram_buff33_RAMC" BEL
        "u_usb/Mram_buff33_RAMD" BEL "u_usb/Mram_buff34_RAMA" BEL
        "u_usb/Mram_buff34_RAMB" BEL "u_usb/Mram_buff34_RAMC" BEL
        "u_usb/Mram_buff34_RAMD" BEL "u_usb/Mram_buff35_RAMA" BEL
        "u_usb/Mram_buff35_RAMB" BEL "u_usb/Mram_buff35_RAMC" BEL
        "u_usb/Mram_buff35_RAMD" BEL "u_usb/Mram_buff36_RAMA" BEL
        "u_usb/Mram_buff36_RAMB" BEL "u_usb/Mram_buff36_RAMC" BEL
        "u_usb/Mram_buff36_RAMD" BEL "u_usb/Mram_buff37_RAMA" BEL
        "u_usb/Mram_buff37_RAMB" BEL "u_usb/Mram_buff37_RAMC" BEL
        "u_usb/Mram_buff37_RAMD" BEL "u_usb/Mram_buff38_RAMA" BEL
        "u_usb/Mram_buff38_RAMB" BEL "u_usb/Mram_buff38_RAMC" BEL
        "u_usb/Mram_buff38_RAMD" BEL "u_usb/Mram_buff39_RAMA" BEL
        "u_usb/Mram_buff39_RAMB" BEL "u_usb/Mram_buff39_RAMC" BEL
        "u_usb/Mram_buff39_RAMD" BEL "u_usb/Mram_buff41_RAMA" BEL
        "u_usb/Mram_buff41_RAMB" BEL "u_usb/Mram_buff41_RAMC" BEL
        "u_usb/Mram_buff41_RAMD" BEL "u_usb/Mram_buff410_RAMA" BEL
        "u_usb/Mram_buff410_RAMB" BEL "u_usb/Mram_buff410_RAMC" BEL
        "u_usb/Mram_buff410_RAMD" BEL "u_usb/Mram_buff411_RAMA" BEL
        "u_usb/Mram_buff411_RAMB" BEL "u_usb/Mram_buff411_RAMC" BEL
        "u_usb/Mram_buff411_RAMD" BEL "u_usb/Mram_buff412_RAMA" BEL
        "u_usb/Mram_buff412_RAMB" BEL "u_usb/Mram_buff412_RAMC" BEL
        "u_usb/Mram_buff412_RAMD" BEL "u_usb/Mram_buff413_RAMA" BEL
        "u_usb/Mram_buff413_RAMB" BEL "u_usb/Mram_buff413_RAMC" BEL
        "u_usb/Mram_buff413_RAMD" BEL "u_usb/Mram_buff414_RAMA" BEL
        "u_usb/Mram_buff414_RAMB" BEL "u_usb/Mram_buff414_RAMC" BEL
        "u_usb/Mram_buff414_RAMD" BEL "u_usb/Mram_buff415_RAMA" BEL
        "u_usb/Mram_buff415_RAMB" BEL "u_usb/Mram_buff415_RAMC" BEL
        "u_usb/Mram_buff415_RAMD" BEL "u_usb/Mram_buff416_RAMA" BEL
        "u_usb/Mram_buff416_RAMB" BEL "u_usb/Mram_buff416_RAMC" BEL
        "u_usb/Mram_buff416_RAMD" BEL "u_usb/Mram_buff417_RAMA" BEL
        "u_usb/Mram_buff417_RAMB" BEL "u_usb/Mram_buff417_RAMC" BEL
        "u_usb/Mram_buff417_RAMD" BEL "u_usb/Mram_buff418_RAMA" BEL
        "u_usb/Mram_buff418_RAMB" BEL "u_usb/Mram_buff418_RAMC" BEL
        "u_usb/Mram_buff418_RAMD" BEL "u_usb/Mram_buff419_RAMA" BEL
        "u_usb/Mram_buff419_RAMB" BEL "u_usb/Mram_buff419_RAMC" BEL
        "u_usb/Mram_buff419_RAMD" BEL "u_usb/Mram_buff42_RAMA" BEL
        "u_usb/Mram_buff42_RAMB" BEL "u_usb/Mram_buff42_RAMC" BEL
        "u_usb/Mram_buff42_RAMD" BEL "u_usb/Mram_buff420_RAMA" BEL
        "u_usb/Mram_buff420_RAMB" BEL "u_usb/Mram_buff420_RAMC" BEL
        "u_usb/Mram_buff420_RAMD" BEL "u_usb/Mram_buff43_RAMA" BEL
        "u_usb/Mram_buff43_RAMB" BEL "u_usb/Mram_buff43_RAMC" BEL
        "u_usb/Mram_buff43_RAMD" BEL "u_usb/Mram_buff44_RAMA" BEL
        "u_usb/Mram_buff44_RAMB" BEL "u_usb/Mram_buff44_RAMC" BEL
        "u_usb/Mram_buff44_RAMD" BEL "u_usb/Mram_buff45_RAMA" BEL
        "u_usb/Mram_buff45_RAMB" BEL "u_usb/Mram_buff45_RAMC" BEL
        "u_usb/Mram_buff45_RAMD" BEL "u_usb/Mram_buff46_RAMA" BEL
        "u_usb/Mram_buff46_RAMB" BEL "u_usb/Mram_buff46_RAMC" BEL
        "u_usb/Mram_buff46_RAMD" BEL "u_usb/Mram_buff47_RAMA" BEL
        "u_usb/Mram_buff47_RAMB" BEL "u_usb/Mram_buff47_RAMC" BEL
        "u_usb/Mram_buff47_RAMD" BEL "u_usb/Mram_buff48_RAMA" BEL
        "u_usb/Mram_buff48_RAMB" BEL "u_usb/Mram_buff48_RAMC" BEL
        "u_usb/Mram_buff48_RAMD" BEL "u_usb/Mram_buff49_RAMA" BEL
        "u_usb/Mram_buff49_RAMB" BEL "u_usb/Mram_buff49_RAMC" BEL
        "u_usb/Mram_buff49_RAMD" BEL "u_usb/Mram_buff51_RAMA" BEL
        "u_usb/Mram_buff51_RAMB" BEL "u_usb/Mram_buff51_RAMC" BEL
        "u_usb/Mram_buff51_RAMD" BEL "u_usb/Mram_buff510_RAMA" BEL
        "u_usb/Mram_buff510_RAMB" BEL "u_usb/Mram_buff510_RAMC" BEL
        "u_usb/Mram_buff510_RAMD" BEL "u_usb/Mram_buff511_RAMA" BEL
        "u_usb/Mram_buff511_RAMB" BEL "u_usb/Mram_buff511_RAMC" BEL
        "u_usb/Mram_buff511_RAMD" BEL "u_usb/Mram_buff512_RAMA" BEL
        "u_usb/Mram_buff512_RAMB" BEL "u_usb/Mram_buff512_RAMC" BEL
        "u_usb/Mram_buff512_RAMD" BEL "u_usb/Mram_buff513_RAMA" BEL
        "u_usb/Mram_buff513_RAMB" BEL "u_usb/Mram_buff513_RAMC" BEL
        "u_usb/Mram_buff513_RAMD" BEL "u_usb/Mram_buff514_RAMA" BEL
        "u_usb/Mram_buff514_RAMB" BEL "u_usb/Mram_buff514_RAMC" BEL
        "u_usb/Mram_buff514_RAMD" BEL "u_usb/Mram_buff515_RAMA" BEL
        "u_usb/Mram_buff515_RAMB" BEL "u_usb/Mram_buff515_RAMC" BEL
        "u_usb/Mram_buff515_RAMD" BEL "u_usb/Mram_buff516_RAMA" BEL
        "u_usb/Mram_buff516_RAMB" BEL "u_usb/Mram_buff516_RAMC" BEL
        "u_usb/Mram_buff516_RAMD" BEL "u_usb/Mram_buff517_RAMA" BEL
        "u_usb/Mram_buff517_RAMB" BEL "u_usb/Mram_buff517_RAMC" BEL
        "u_usb/Mram_buff517_RAMD" BEL "u_usb/Mram_buff518_RAMA" BEL
        "u_usb/Mram_buff518_RAMB" BEL "u_usb/Mram_buff518_RAMC" BEL
        "u_usb/Mram_buff518_RAMD" BEL "u_usb/Mram_buff519_RAMA" BEL
        "u_usb/Mram_buff519_RAMB" BEL "u_usb/Mram_buff519_RAMC" BEL
        "u_usb/Mram_buff519_RAMD" BEL "u_usb/Mram_buff52_RAMA" BEL
        "u_usb/Mram_buff52_RAMB" BEL "u_usb/Mram_buff52_RAMC" BEL
        "u_usb/Mram_buff52_RAMD" BEL "u_usb/Mram_buff520_RAMA" BEL
        "u_usb/Mram_buff520_RAMB" BEL "u_usb/Mram_buff520_RAMC" BEL
        "u_usb/Mram_buff520_RAMD" BEL "u_usb/Mram_buff53_RAMA" BEL
        "u_usb/Mram_buff53_RAMB" BEL "u_usb/Mram_buff53_RAMC" BEL
        "u_usb/Mram_buff53_RAMD" BEL "u_usb/Mram_buff54_RAMA" BEL
        "u_usb/Mram_buff54_RAMB" BEL "u_usb/Mram_buff54_RAMC" BEL
        "u_usb/Mram_buff54_RAMD" BEL "u_usb/Mram_buff55_RAMA" BEL
        "u_usb/Mram_buff55_RAMB" BEL "u_usb/Mram_buff55_RAMC" BEL
        "u_usb/Mram_buff55_RAMD" BEL "u_usb/Mram_buff56_RAMA" BEL
        "u_usb/Mram_buff56_RAMB" BEL "u_usb/Mram_buff56_RAMC" BEL
        "u_usb/Mram_buff56_RAMD" BEL "u_usb/Mram_buff57_RAMA" BEL
        "u_usb/Mram_buff57_RAMB" BEL "u_usb/Mram_buff57_RAMC" BEL
        "u_usb/Mram_buff57_RAMD" BEL "u_usb/Mram_buff58_RAMA" BEL
        "u_usb/Mram_buff58_RAMB" BEL "u_usb/Mram_buff58_RAMC" BEL
        "u_usb/Mram_buff58_RAMD" BEL "u_usb/Mram_buff59_RAMA" BEL
        "u_usb/Mram_buff59_RAMB" BEL "u_usb/Mram_buff59_RAMC" BEL
        "u_usb/Mram_buff59_RAMD" BEL "u_usb/Mram_buff61_RAMA" BEL
        "u_usb/Mram_buff61_RAMB" BEL "u_usb/Mram_buff61_RAMC" BEL
        "u_usb/Mram_buff61_RAMD" BEL "u_usb/Mram_buff610_RAMA" BEL
        "u_usb/Mram_buff610_RAMB" BEL "u_usb/Mram_buff610_RAMC" BEL
        "u_usb/Mram_buff610_RAMD" BEL "u_usb/Mram_buff611_RAMA" BEL
        "u_usb/Mram_buff611_RAMB" BEL "u_usb/Mram_buff611_RAMC" BEL
        "u_usb/Mram_buff611_RAMD" BEL "u_usb/Mram_buff612_RAMA" BEL
        "u_usb/Mram_buff612_RAMB" BEL "u_usb/Mram_buff612_RAMC" BEL
        "u_usb/Mram_buff612_RAMD" BEL "u_usb/Mram_buff613_RAMA" BEL
        "u_usb/Mram_buff613_RAMB" BEL "u_usb/Mram_buff613_RAMC" BEL
        "u_usb/Mram_buff613_RAMD" BEL "u_usb/Mram_buff614_RAMA" BEL
        "u_usb/Mram_buff614_RAMB" BEL "u_usb/Mram_buff614_RAMC" BEL
        "u_usb/Mram_buff614_RAMD" BEL "u_usb/Mram_buff615_RAMA" BEL
        "u_usb/Mram_buff615_RAMB" BEL "u_usb/Mram_buff615_RAMC" BEL
        "u_usb/Mram_buff615_RAMD" BEL "u_usb/Mram_buff616_RAMA" BEL
        "u_usb/Mram_buff616_RAMB" BEL "u_usb/Mram_buff616_RAMC" BEL
        "u_usb/Mram_buff616_RAMD" BEL "u_usb/Mram_buff617_RAMA" BEL
        "u_usb/Mram_buff617_RAMB" BEL "u_usb/Mram_buff617_RAMC" BEL
        "u_usb/Mram_buff617_RAMD" BEL "u_usb/Mram_buff618_RAMA" BEL
        "u_usb/Mram_buff618_RAMB" BEL "u_usb/Mram_buff618_RAMC" BEL
        "u_usb/Mram_buff618_RAMD" BEL "u_usb/Mram_buff619_RAMA" BEL
        "u_usb/Mram_buff619_RAMB" BEL "u_usb/Mram_buff619_RAMC" BEL
        "u_usb/Mram_buff619_RAMD" BEL "u_usb/Mram_buff62_RAMA" BEL
        "u_usb/Mram_buff62_RAMB" BEL "u_usb/Mram_buff62_RAMC" BEL
        "u_usb/Mram_buff62_RAMD" BEL "u_usb/Mram_buff620_RAMA" BEL
        "u_usb/Mram_buff620_RAMB" BEL "u_usb/Mram_buff620_RAMC" BEL
        "u_usb/Mram_buff620_RAMD" BEL "u_usb/Mram_buff63_RAMA" BEL
        "u_usb/Mram_buff63_RAMB" BEL "u_usb/Mram_buff63_RAMC" BEL
        "u_usb/Mram_buff63_RAMD" BEL "u_usb/Mram_buff64_RAMA" BEL
        "u_usb/Mram_buff64_RAMB" BEL "u_usb/Mram_buff64_RAMC" BEL
        "u_usb/Mram_buff64_RAMD" BEL "u_usb/Mram_buff65_RAMA" BEL
        "u_usb/Mram_buff65_RAMB" BEL "u_usb/Mram_buff65_RAMC" BEL
        "u_usb/Mram_buff65_RAMD" BEL "u_usb/Mram_buff66_RAMA" BEL
        "u_usb/Mram_buff66_RAMB" BEL "u_usb/Mram_buff66_RAMC" BEL
        "u_usb/Mram_buff66_RAMD" BEL "u_usb/Mram_buff67_RAMA" BEL
        "u_usb/Mram_buff67_RAMB" BEL "u_usb/Mram_buff67_RAMC" BEL
        "u_usb/Mram_buff67_RAMD" BEL "u_usb/Mram_buff68_RAMA" BEL
        "u_usb/Mram_buff68_RAMB" BEL "u_usb/Mram_buff68_RAMC" BEL
        "u_usb/Mram_buff68_RAMD" BEL "u_usb/Mram_buff69_RAMA" BEL
        "u_usb/Mram_buff69_RAMB" BEL "u_usb/Mram_buff69_RAMC" BEL
        "u_usb/Mram_buff69_RAMD" BEL "u_usb/Mram_buff71_RAMA" BEL
        "u_usb/Mram_buff71_RAMB" BEL "u_usb/Mram_buff71_RAMC" BEL
        "u_usb/Mram_buff71_RAMD" BEL "u_usb/Mram_buff710_RAMA" BEL
        "u_usb/Mram_buff710_RAMB" BEL "u_usb/Mram_buff710_RAMC" BEL
        "u_usb/Mram_buff710_RAMD" BEL "u_usb/Mram_buff711_RAMA" BEL
        "u_usb/Mram_buff711_RAMB" BEL "u_usb/Mram_buff711_RAMC" BEL
        "u_usb/Mram_buff711_RAMD" BEL "u_usb/Mram_buff712_RAMA" BEL
        "u_usb/Mram_buff712_RAMB" BEL "u_usb/Mram_buff712_RAMC" BEL
        "u_usb/Mram_buff712_RAMD" BEL "u_usb/Mram_buff713_RAMA" BEL
        "u_usb/Mram_buff713_RAMB" BEL "u_usb/Mram_buff713_RAMC" BEL
        "u_usb/Mram_buff713_RAMD" BEL "u_usb/Mram_buff714_RAMA" BEL
        "u_usb/Mram_buff714_RAMB" BEL "u_usb/Mram_buff714_RAMC" BEL
        "u_usb/Mram_buff714_RAMD" BEL "u_usb/Mram_buff715_RAMA" BEL
        "u_usb/Mram_buff715_RAMB" BEL "u_usb/Mram_buff715_RAMC" BEL
        "u_usb/Mram_buff715_RAMD" BEL "u_usb/Mram_buff716_RAMA" BEL
        "u_usb/Mram_buff716_RAMB" BEL "u_usb/Mram_buff716_RAMC" BEL
        "u_usb/Mram_buff716_RAMD" BEL "u_usb/Mram_buff717_RAMA" BEL
        "u_usb/Mram_buff717_RAMB" BEL "u_usb/Mram_buff717_RAMC" BEL
        "u_usb/Mram_buff717_RAMD" BEL "u_usb/Mram_buff718_RAMA" BEL
        "u_usb/Mram_buff718_RAMB" BEL "u_usb/Mram_buff718_RAMC" BEL
        "u_usb/Mram_buff718_RAMD" BEL "u_usb/Mram_buff719_RAMA" BEL
        "u_usb/Mram_buff719_RAMB" BEL "u_usb/Mram_buff719_RAMC" BEL
        "u_usb/Mram_buff719_RAMD" BEL "u_usb/Mram_buff72_RAMA" BEL
        "u_usb/Mram_buff72_RAMB" BEL "u_usb/Mram_buff72_RAMC" BEL
        "u_usb/Mram_buff72_RAMD" BEL "u_usb/Mram_buff720_RAMA" BEL
        "u_usb/Mram_buff720_RAMB" BEL "u_usb/Mram_buff720_RAMC" BEL
        "u_usb/Mram_buff720_RAMD" BEL "u_usb/Mram_buff73_RAMA" BEL
        "u_usb/Mram_buff73_RAMB" BEL "u_usb/Mram_buff73_RAMC" BEL
        "u_usb/Mram_buff73_RAMD" BEL "u_usb/Mram_buff74_RAMA" BEL
        "u_usb/Mram_buff74_RAMB" BEL "u_usb/Mram_buff74_RAMC" BEL
        "u_usb/Mram_buff74_RAMD" BEL "u_usb/Mram_buff75_RAMA" BEL
        "u_usb/Mram_buff75_RAMB" BEL "u_usb/Mram_buff75_RAMC" BEL
        "u_usb/Mram_buff75_RAMD" BEL "u_usb/Mram_buff76_RAMA" BEL
        "u_usb/Mram_buff76_RAMB" BEL "u_usb/Mram_buff76_RAMC" BEL
        "u_usb/Mram_buff76_RAMD" BEL "u_usb/Mram_buff77_RAMA" BEL
        "u_usb/Mram_buff77_RAMB" BEL "u_usb/Mram_buff77_RAMC" BEL
        "u_usb/Mram_buff77_RAMD" BEL "u_usb/Mram_buff78_RAMA" BEL
        "u_usb/Mram_buff78_RAMB" BEL "u_usb/Mram_buff78_RAMC" BEL
        "u_usb/Mram_buff78_RAMD" BEL "u_usb/Mram_buff79_RAMA" BEL
        "u_usb/Mram_buff79_RAMB" BEL "u_usb/Mram_buff79_RAMC" BEL
        "u_usb/Mram_buff79_RAMD" BEL "u_usb/Mram_buff81_RAMA" BEL
        "u_usb/Mram_buff81_RAMB" BEL "u_usb/Mram_buff81_RAMC" BEL
        "u_usb/Mram_buff81_RAMD" BEL "u_usb/Mram_buff810_RAMA" BEL
        "u_usb/Mram_buff810_RAMB" BEL "u_usb/Mram_buff810_RAMC" BEL
        "u_usb/Mram_buff810_RAMD" BEL "u_usb/Mram_buff811_RAMA" BEL
        "u_usb/Mram_buff811_RAMB" BEL "u_usb/Mram_buff811_RAMC" BEL
        "u_usb/Mram_buff811_RAMD" BEL "u_usb/Mram_buff812_RAMA" BEL
        "u_usb/Mram_buff812_RAMB" BEL "u_usb/Mram_buff812_RAMC" BEL
        "u_usb/Mram_buff812_RAMD" BEL "u_usb/Mram_buff813_RAMA" BEL
        "u_usb/Mram_buff813_RAMB" BEL "u_usb/Mram_buff813_RAMC" BEL
        "u_usb/Mram_buff813_RAMD" BEL "u_usb/Mram_buff814_RAMA" BEL
        "u_usb/Mram_buff814_RAMB" BEL "u_usb/Mram_buff814_RAMC" BEL
        "u_usb/Mram_buff814_RAMD" BEL "u_usb/Mram_buff815_RAMA" BEL
        "u_usb/Mram_buff815_RAMB" BEL "u_usb/Mram_buff815_RAMC" BEL
        "u_usb/Mram_buff815_RAMD" BEL "u_usb/Mram_buff816_RAMA" BEL
        "u_usb/Mram_buff816_RAMB" BEL "u_usb/Mram_buff816_RAMC" BEL
        "u_usb/Mram_buff816_RAMD" BEL "u_usb/Mram_buff817_RAMA" BEL
        "u_usb/Mram_buff817_RAMB" BEL "u_usb/Mram_buff817_RAMC" BEL
        "u_usb/Mram_buff817_RAMD" BEL "u_usb/Mram_buff818_RAMA" BEL
        "u_usb/Mram_buff818_RAMB" BEL "u_usb/Mram_buff818_RAMC" BEL
        "u_usb/Mram_buff818_RAMD" BEL "u_usb/Mram_buff819_RAMA" BEL
        "u_usb/Mram_buff819_RAMB" BEL "u_usb/Mram_buff819_RAMC" BEL
        "u_usb/Mram_buff819_RAMD" BEL "u_usb/Mram_buff82_RAMA" BEL
        "u_usb/Mram_buff82_RAMB" BEL "u_usb/Mram_buff82_RAMC" BEL
        "u_usb/Mram_buff82_RAMD" BEL "u_usb/Mram_buff820_RAMA" BEL
        "u_usb/Mram_buff820_RAMB" BEL "u_usb/Mram_buff820_RAMC" BEL
        "u_usb/Mram_buff820_RAMD" BEL "u_usb/Mram_buff83_RAMA" BEL
        "u_usb/Mram_buff83_RAMB" BEL "u_usb/Mram_buff83_RAMC" BEL
        "u_usb/Mram_buff83_RAMD" BEL "u_usb/Mram_buff84_RAMA" BEL
        "u_usb/Mram_buff84_RAMB" BEL "u_usb/Mram_buff84_RAMC" BEL
        "u_usb/Mram_buff84_RAMD" BEL "u_usb/Mram_buff85_RAMA" BEL
        "u_usb/Mram_buff85_RAMB" BEL "u_usb/Mram_buff85_RAMC" BEL
        "u_usb/Mram_buff85_RAMD" BEL "u_usb/Mram_buff86_RAMA" BEL
        "u_usb/Mram_buff86_RAMB" BEL "u_usb/Mram_buff86_RAMC" BEL
        "u_usb/Mram_buff86_RAMD" BEL "u_usb/Mram_buff87_RAMA" BEL
        "u_usb/Mram_buff87_RAMB" BEL "u_usb/Mram_buff87_RAMC" BEL
        "u_usb/Mram_buff87_RAMD" BEL "u_usb/Mram_buff88_RAMA" BEL
        "u_usb/Mram_buff88_RAMB" BEL "u_usb/Mram_buff88_RAMC" BEL
        "u_usb/Mram_buff88_RAMD" BEL "u_usb/Mram_buff89_RAMA" BEL
        "u_usb/Mram_buff89_RAMB" BEL "u_usb/Mram_buff89_RAMC" BEL
        "u_usb/Mram_buff89_RAMD";
TS_CLOCK_USB = PERIOD TIMEGRP "USB_IFCLK" 48 MHz HIGH 50%;
SCHEMATIC END;

