NET "LED[0]" LOC = H14;
NET "LED[1]" LOC = H13;
NET "LED[3]" LOC = F14;
NET "LED[2]" LOC = F13;
#NET "SDRAM_ADDR[12]" LOC = F9;
#NET "SDRAM_ADDR[11]" LOC = D9;
#NET "SDRAM_ADDR[10]" LOC = A13;
#NET "SDRAM_ADDR[9]" LOC = F10;
#NET "SDRAM_ADDR[8]" LOC = C10;
#NET "SDRAM_ADDR[7]" LOC = E10;
#NET "SDRAM_ADDR[6]" LOC = C11;
#NET "SDRAM_ADDR[5]" LOC = D11;
#NET "SDRAM_ADDR[4]" LOC = D12;
#NET "SDRAM_ADDR[3]" LOC = E11;
#NET "SDRAM_ADDR[2]" LOC = C13;
#NET "SDRAM_ADDR[1]" LOC = B14;
#NET "SDRAM_ADDR[0]" LOC = A14;
#NET "SDRAM_DQ[15]" LOC = E6;
#NET "SDRAM_DQ[14]" LOC = D5;
#NET "SDRAM_DQ[13]" LOC = C5;
#NET "SDRAM_DQ[12]" LOC = D6;
#NET "SDRAM_DQ[11]" LOC = C6;
#NET "SDRAM_DQ[10]" LOC = E7;
#NET "SDRAM_DQ[9]" LOC = C7;
#NET "SDRAM_DQ[8]" LOC = F7;
#NET "SDRAM_DQ[7]" LOC = A8;
#NET "SDRAM_DQ[6]" LOC = B8;
#NET "SDRAM_DQ[5]" LOC = A7;
#NET "SDRAM_DQ[4]" LOC = A6;
#NET "SDRAM_DQ[3]" LOC = B6;
#NET "SDRAM_DQ[2]" LOC = A5;
#NET "SDRAM_DQ[1]" LOC = B5;
#NET "SDRAM_DQ[0]" LOC = A4;
#NET "SDRAM_BA[1]" LOC = B12;
#NET "SDRAM_BA[0]" LOC = A12;
#NET "SDRAM_DQM[1]" LOC = C8;
#NET "SDRAM_DQM[0]" LOC = C9;
NET "USB_ADDR[1]" LOC = T5;
NET "USB_ADDR[0]" LOC = T6;
NET "USB_DATA[15]" LOC = P7;
NET "USB_DATA[14]" LOC = P5;
NET "USB_DATA[13]" LOC = L7;
NET "USB_DATA[12]" LOC = N5;
NET "USB_DATA[11]" LOC = P6;
NET "USB_DATA[10]" LOC = M6;
NET "USB_DATA[9]" LOC = N6;
NET "USB_DATA[8]" LOC = P4;
NET "USB_DATA[7]" LOC = M10;
NET "USB_DATA[6]" LOC = M11;
NET "USB_DATA[5]" LOC = P11;
NET "USB_DATA[4]" LOC = P12;
NET "USB_DATA[3]" LOC = N9;
NET "USB_DATA[2]" LOC = N12;
NET "USB_DATA[1]" LOC = L8;
NET "USB_DATA[0]" LOC = M12;
#NET "USB_INT[1]" LOC = T8;
#NET "USB_INT[0]" LOC = R9;
#NET "CLOCK_48" LOC = J4;
#NET "SDRAM_CAS_N" LOC = A10;
#NET "SDRAM_CKE" LOC = D8;
#NET "SDRAM_CLK" LOC = E8;
#NET "SDRAM_CS_N" LOC = A11;
#NET "SDRAM_RAS_N" LOC = B10;
#NET "SDRAM_WE_N" LOC = A9;
#NET "USB_CLK_OUT" LOC = M7;
NET "USB_FLAGA" LOC = L10;
NET "USB_FLAGB" LOC = P9;
NET "USB_FLAGC" LOC = T9;
NET "USB_FLAGD" LOC = T4;
NET "USB_IFCLK" LOC = M9;
NET "USB_PKEND" LOC = R5;
NET "USB_SLOE" LOC = T7;
NET "USB_SLRD" LOC = N8;
NET "USB_SLWR" LOC = P8;
#NET "USB_WU2" LOC = R7;


#NET "USB_INT[1]" IOSTANDARD = LVCMOS33;
#NET "USB_INT[0]" IOSTANDARD = LVCMOS33;
NET "USB_DATA[15]" IOSTANDARD = LVCMOS33;
NET "USB_DATA[14]" IOSTANDARD = LVCMOS33;
NET "USB_DATA[13]" IOSTANDARD = LVCMOS33;
NET "USB_DATA[12]" IOSTANDARD = LVCMOS33;
NET "USB_DATA[11]" IOSTANDARD = LVCMOS33;
NET "USB_DATA[10]" IOSTANDARD = LVCMOS33;
NET "USB_DATA[9]" IOSTANDARD = LVCMOS33;
NET "USB_DATA[8]" IOSTANDARD = LVCMOS33;
NET "USB_DATA[7]" IOSTANDARD = LVCMOS33;
NET "USB_DATA[6]" IOSTANDARD = LVCMOS33;
NET "USB_DATA[5]" IOSTANDARD = LVCMOS33;
NET "USB_DATA[4]" IOSTANDARD = LVCMOS33;
NET "USB_DATA[3]" IOSTANDARD = LVCMOS33;
NET "USB_DATA[2]" IOSTANDARD = LVCMOS33;
NET "USB_DATA[1]" IOSTANDARD = LVCMOS33;
NET "USB_DATA[0]" IOSTANDARD = LVCMOS33;
NET "USB_ADDR[1]" IOSTANDARD = LVCMOS33;
NET "USB_ADDR[0]" IOSTANDARD = LVCMOS33;
#NET "SDRAM_DQM[1]" IOSTANDARD = LVCMOS33;
#NET "SDRAM_DQM[0]" IOSTANDARD = LVCMOS33;
#NET "SDRAM_DQ[15]" IOSTANDARD = LVCMOS33;
#NET "SDRAM_DQ[14]" IOSTANDARD = LVCMOS33;
#NET "SDRAM_DQ[13]" IOSTANDARD = LVCMOS33;
#NET "SDRAM_DQ[12]" IOSTANDARD = LVCMOS33;
#NET "SDRAM_DQ[11]" IOSTANDARD = LVCMOS33;
#NET "SDRAM_DQ[10]" IOSTANDARD = LVCMOS33;
#NET "SDRAM_DQ[9]" IOSTANDARD = LVCMOS33;
#NET "SDRAM_DQ[8]" IOSTANDARD = LVCMOS33;
#NET "SDRAM_DQ[7]" IOSTANDARD = LVCMOS33;
#NET "SDRAM_DQ[6]" IOSTANDARD = LVCMOS33;
#NET "SDRAM_DQ[5]" IOSTANDARD = LVCMOS33;
#NET "SDRAM_DQ[4]" IOSTANDARD = LVCMOS33;
#NET "SDRAM_DQ[3]" IOSTANDARD = LVCMOS33;
#NET "SDRAM_DQ[2]" IOSTANDARD = LVCMOS33;
#NET "SDRAM_DQ[1]" IOSTANDARD = LVCMOS33;
#NET "SDRAM_DQ[0]" IOSTANDARD = LVCMOS33;
#NET "SDRAM_BA[1]" IOSTANDARD = LVCMOS33;
#NET "SDRAM_BA[0]" IOSTANDARD = LVCMOS33;
#NET "SDRAM_ADDR[12]" IOSTANDARD = LVCMOS33;
#NET "SDRAM_ADDR[11]" IOSTANDARD = LVCMOS33;
#NET "SDRAM_ADDR[10]" IOSTANDARD = LVCMOS33;
#NET "SDRAM_ADDR[9]" IOSTANDARD = LVCMOS33;
#NET "SDRAM_ADDR[8]" IOSTANDARD = LVCMOS33;
#NET "SDRAM_ADDR[7]" IOSTANDARD = LVCMOS33;
#NET "SDRAM_ADDR[6]" IOSTANDARD = LVCMOS33;
#NET "SDRAM_ADDR[5]" IOSTANDARD = LVCMOS33;
#NET "SDRAM_ADDR[4]" IOSTANDARD = LVCMOS33;
#NET "SDRAM_ADDR[3]" IOSTANDARD = LVCMOS33;
#NET "SDRAM_ADDR[2]" IOSTANDARD = LVCMOS33;
#NET "SDRAM_ADDR[1]" IOSTANDARD = LVCMOS33;
#NET "SDRAM_ADDR[0]" IOSTANDARD = LVCMOS33;
NET "LED[3]" IOSTANDARD = LVCMOS33;
NET "LED[2]" IOSTANDARD = LVCMOS33;
NET "LED[1]" IOSTANDARD = LVCMOS33;
NET "LED[0]" IOSTANDARD = LVCMOS33;

#NET "USB_WU2" IOSTANDARD = LVCMOS33;
NET "USB_SLWR" IOSTANDARD = LVCMOS33;
NET "USB_SLRD" IOSTANDARD = LVCMOS33;
NET "USB_SLOE" IOSTANDARD = LVCMOS33;
NET "USB_PKEND" IOSTANDARD = LVCMOS33;
NET "USB_IFCLK" IOSTANDARD = LVCMOS33;
NET "USB_FLAGD" IOSTANDARD = LVCMOS33;
NET "USB_FLAGC" IOSTANDARD = LVCMOS33;
NET "USB_FLAGB" IOSTANDARD = LVCMOS33;
#NET "SDRAM_CAS_N" IOSTANDARD = LVCMOS33;
#NET "SDRAM_CKE" IOSTANDARD = LVCMOS33;
#NET "SDRAM_CLK" IOSTANDARD = LVCMOS33;
#NET "SDRAM_CS_N" IOSTANDARD = LVCMOS33;
#NET "SDRAM_RAS_N" IOSTANDARD = LVCMOS33;
#NET "CLOCK_48" IOSTANDARD = LVCMOS33;
#NET "SDRAM_WE_N" IOSTANDARD = LVCMOS33;
#NET "USB_CLK_OUT" IOSTANDARD = LVCMOS33;
NET "USB_FLAGA" IOSTANDARD = LVCMOS33;

#NET "CLOCK_48" TNM_NET = "CLOCK_48";
#TIMESPEC TS_CLOCK_48 = PERIOD "CLOCK_48" 48 MHz HIGH 50 %;

NET "USB_IFCLK" TNM_NET = "USB_IFCLK";
TIMESPEC TS_CLOCK_USB = PERIOD "USB_IFCLK" 48 MHz HIGH 50 %;

#PIN "clock_input/clkout2_buf.O" CLOCK_DEDICATED_ROUTE = FALSE;

#NET "GPIOA[0]" LOC = T13;
#NET "GPIOA[1]" LOC = T14;
#NET "GPIOA[2]" LOC = T15;
#NET "GPIOA[3]" LOC = R14;
#NET "GPIOA[4]" LOC = R16;
#NET "GPIOA[5]" LOC = R15;
#NET "GPIOA[6]" LOC = P16;
#NET "GPIOA[7]" LOC = P15;
#NET "GPIOA[8]" LOC = L16;
#NET "GPIOA[9]" LOC = L14;
#NET "GPIOA[10]" LOC = N16;
#NET "GPIOA[11]" LOC = N14;
#NET "GPIOA[13]" LOC = M15;
#NET "GPIOA[12]" LOC = M16;
#NET "GPIOA[14]" LOC = K16;
#NET "GPIOA[15]" LOC = K15;
#NET "GPIOA[16]" LOC = J16;
#NET "GPIOA[17]" LOC = J14;
#NET "GPIOA[18]" LOC = K14;
#NET "GPIOA[19]" LOC = J13;
#NET "GPIOA[20]" LOC = H16;
#NET "GPIOA[21]" LOC = H15;
#NET "GPIOA[22]" LOC = G16;
#NET "GPIOA[23]" LOC = G14;
#NET "GPIOA[24]" LOC = F16;
#NET "GPIOA[25]" LOC = F15;
#NET "GPIOA[26]" LOC = E16;
#NET "GPIOA[27]" LOC = E15;
#NET "GPIOA[28]" LOC = D16;
#NET "GPIOA[29]" LOC = D14;
#NET "GPIOA[30]" LOC = C16;
#NET "GPIOA[31]" LOC = C15;
#NET "GPIOA[32]" LOC = B16;
#NET "GPIOA[33]" LOC = B15;
#NET "GPIOB[0]" LOC = R2;
#NET "GPIOB[1]" LOC = R1;
#NET "GPIOB[2]" LOC = P2;
#NET "GPIOB[3]" LOC = P1;
#NET "GPIOB[4]" LOC = N3;
#NET "GPIOB[5]" LOC = N1;
#NET "GPIOB[6]" LOC = M2;
#NET "GPIOB[7]" LOC = M1;
#NET "GPIOB[8]" LOC = L3;
#NET "GPIOB[9]" LOC = L1;
#NET "GPIOB[10]" LOC = K2;
#NET "GPIOB[11]" LOC = K1;
#NET "GPIOB[12]" LOC = J3;
#NET "GPIOB[13]" LOC = J1;
#NET "GPIOB[14]" LOC = H2;
#NET "GPIOB[15]" LOC = H1;
#NET "GPIOB[16]" LOC = H4;
#NET "GPIOB[17]" LOC = H3;
#NET "GPIOB[18]" LOC = F2;
#NET "GPIOB[19]" LOC = F1;
#NET "GPIOB[20]" LOC = F4;
#NET "GPIOB[21]" LOC = F3;
#NET "GPIOB[22]" LOC = E2;
#NET "GPIOB[23]" LOC = E1;
#NET "GPIOB[24]" LOC = E4;
#NET "GPIOB[25]" LOC = E3;
#NET "GPIOB[26]" LOC = D3;
#NET "GPIOB[27]" LOC = D1;
#NET "GPIOB[28]" LOC = C3;
#NET "GPIOB[29]" LOC = C2;
#NET "GPIOB[30]" LOC = C1;
#NET "GPIOB[31]" LOC = B1;
#NET "GPIOB[32]" LOC = B2;
#NET "GPIOB[33]" LOC = A2;
#
#NET "GPIOB[33]" IOSTANDARD = LVCMOS33;
#NET "GPIOB[32]" IOSTANDARD = LVCMOS33;
#NET "GPIOB[31]" IOSTANDARD = LVCMOS33;
#NET "GPIOB[30]" IOSTANDARD = LVCMOS33;
#NET "GPIOB[29]" IOSTANDARD = LVCMOS33;
#NET "GPIOB[28]" IOSTANDARD = LVCMOS33;
#NET "GPIOB[27]" IOSTANDARD = LVCMOS33;
#NET "GPIOB[26]" IOSTANDARD = LVCMOS33;
#NET "GPIOB[25]" IOSTANDARD = LVCMOS33;
#NET "GPIOB[24]" IOSTANDARD = LVCMOS33;
#NET "GPIOB[23]" IOSTANDARD = LVCMOS33;
#NET "GPIOB[22]" IOSTANDARD = LVCMOS33;
#NET "GPIOB[21]" IOSTANDARD = LVCMOS33;
#NET "GPIOB[20]" IOSTANDARD = LVCMOS33;
#NET "GPIOB[19]" IOSTANDARD = LVCMOS33;
#NET "GPIOB[18]" IOSTANDARD = LVCMOS33;
#NET "GPIOB[17]" IOSTANDARD = LVCMOS33;
#NET "GPIOB[16]" IOSTANDARD = LVCMOS33;
#NET "GPIOB[15]" IOSTANDARD = LVCMOS33;
#NET "GPIOB[14]" IOSTANDARD = LVCMOS33;
#NET "GPIOB[13]" IOSTANDARD = LVCMOS33;
#NET "GPIOB[12]" IOSTANDARD = LVCMOS33;
#NET "GPIOB[11]" IOSTANDARD = LVCMOS33;
#NET "GPIOB[10]" IOSTANDARD = LVCMOS33;
#NET "GPIOB[9]" IOSTANDARD = LVCMOS33;
#NET "GPIOB[8]" IOSTANDARD = LVCMOS33;
#NET "GPIOB[7]" IOSTANDARD = LVCMOS33;
#NET "GPIOB[6]" IOSTANDARD = LVCMOS33;
#NET "GPIOB[5]" IOSTANDARD = LVCMOS33;
#NET "GPIOB[4]" IOSTANDARD = LVCMOS33;
#NET "GPIOB[3]" IOSTANDARD = LVCMOS33;
#NET "GPIOB[2]" IOSTANDARD = LVCMOS33;
#NET "GPIOB[1]" IOSTANDARD = LVCMOS33;
#NET "GPIOB[0]" IOSTANDARD = LVCMOS33;
#NET "GPIOA[33]" IOSTANDARD = LVCMOS33;
#NET "GPIOA[32]" IOSTANDARD = LVCMOS33;
#NET "GPIOA[31]" IOSTANDARD = LVCMOS33;
#NET "GPIOA[30]" IOSTANDARD = LVCMOS33;
#NET "GPIOA[29]" IOSTANDARD = LVCMOS33;
#NET "GPIOA[28]" IOSTANDARD = LVCMOS33;
#NET "GPIOA[27]" IOSTANDARD = LVCMOS33;
#NET "GPIOA[26]" IOSTANDARD = LVCMOS33;
#NET "GPIOA[25]" IOSTANDARD = LVCMOS33;
#NET "GPIOA[24]" IOSTANDARD = LVCMOS33;
#NET "GPIOA[23]" IOSTANDARD = LVCMOS33;
#NET "GPIOA[22]" IOSTANDARD = LVCMOS33;
#NET "GPIOA[21]" IOSTANDARD = LVCMOS33;
#NET "GPIOA[20]" IOSTANDARD = LVCMOS33;
#NET "GPIOA[19]" IOSTANDARD = LVCMOS33;
#NET "GPIOA[18]" IOSTANDARD = LVCMOS33;
#NET "GPIOA[17]" IOSTANDARD = LVCMOS33;
#NET "GPIOA[16]" IOSTANDARD = LVCMOS33;
#NET "GPIOA[15]" IOSTANDARD = LVCMOS33;
#NET "GPIOA[14]" IOSTANDARD = LVCMOS33;
#NET "GPIOA[13]" IOSTANDARD = LVCMOS33;
#NET "GPIOA[12]" IOSTANDARD = LVCMOS33;
#NET "GPIOA[11]" IOSTANDARD = LVCMOS33;
#NET "GPIOA[10]" IOSTANDARD = LVCMOS33;
#NET "GPIOA[9]" IOSTANDARD = LVCMOS33;
#NET "GPIOA[8]" IOSTANDARD = LVCMOS33;
#NET "GPIOA[7]" IOSTANDARD = LVCMOS33;
#NET "GPIOA[6]" IOSTANDARD = LVCMOS33;
#NET "GPIOA[5]" IOSTANDARD = LVCMOS33;
#NET "GPIOA[4]" IOSTANDARD = LVCMOS33;
#NET "GPIOA[3]" IOSTANDARD = LVCMOS33;
#NET "GPIOA[2]" IOSTANDARD = LVCMOS33;
#NET "GPIOA[1]" IOSTANDARD = LVCMOS33;
#NET "GPIOA[0]" IOSTANDARD = LVCMOS33;
