//! **************************************************************************
// Written by: Map P.20131013 on Sat Nov 17 15:40:29 2018
//! **************************************************************************

SCHEMATIC START;
COMP "LED<0>" LOCATE = SITE "H14" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "H13" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "F13" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "F14" LEVEL 1;
TIMEGRP CLOCK_48 = BEL "state_0" BEL "state_1" BEL "state_2" BEL "state_3" BEL
        "counter_0" BEL "counter_1" BEL "counter_2" BEL "counter_3" BEL
        "counter_4" BEL "counter_5" BEL "counter_6" BEL "counter_7" BEL
        "counter_8" BEL "counter_9" BEL "counter_10" BEL "counter_11" BEL
        "counter_12" BEL "counter_13" BEL "counter_14" BEL "counter_15" BEL
        "counter_16" BEL "counter_17" BEL "counter_18" BEL "counter_19" BEL
        "counter_20" BEL "counter_21" BEL "counter_22" BEL "counter_23" BEL
        "counter_24" BEL "CLOCK_48_BUFGP/BUFG";
TS_CLOCK_48 = PERIOD TIMEGRP "CLOCK_48" 48 MHz HIGH 50%;
SCHEMATIC END;

